* {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "sidebar main"
        "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 1400px;
    gap: 20px;
    padding: 20px;
    margin: 0px auto;
}

.navbar {
    background-color: #2c3e50;
    grid-area: navbar;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;

    
}
.navbar h1{
    color: white;
    font-size: 1.5rem;
}
.navbar a:visited {
    color: rgb(149, 165, 166);
}
.navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 7px;
}
.sidebar {
    background-color: rgb(52, 73, 94);
    color: white;
    grid-area: sidebar;
    padding: 20px;
    border-radius: 8px;
}
li{
    list-style: none;
}
.sidebar a {
    color: rgb(236, 240, 241);
    display: block;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.main-content {
    background-color: #ffffff;
    grid-area: main;
    padding: 30px;
    border-radius: 8px;

}
.contact-form {
    margin-top: 30px;
    background-color: rgb(248, 249, 250);
    padding: 20px;
    border-radius: 8px;
}
.form-group:nth-child(2n) {
    background-color: rgb(255, 249, 230);
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 30px;
    border-radius: 5px;
}
.form-group:nth-child(2n+1) {
    background-color: rgb(236, 248, 255);
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 30px;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    margin-bottom: 8px;
    color: rgb(44, 62, 80);
    font-weight: bold;
}
.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    font-size: 1rem;
    background-color: white;
    padding: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-radius: 5px;
}
.checkbox-group label {
    display: flex;
    align-items: center;
    font-weight: normal;
}
.checkbox-group input{
    margin-right: 5px;
    display: inline;
    width: auto;
}
.btn-reset {
    background-color: rgb(149, 165, 166);
    color: white;
}
.btn-submit, .btn-reset {
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 30px;
    border-style: none;
    border-radius: 5px;
}
.footer {
    background-color: #2c3e50;
    grid-area: footer;
    padding: 20px;

}
input{
    display: block;
}

.footer{
    color: white;
    text-align: center;
    border-radius: 8px;

}